fastapi
uvicorn
python-multipart
torch
torchvision
numpy
opencv-python
pillow
jinja2
scipy
scikit-learn
requests
google-generativeai
chromadb
langchain
langchain-community
langchain-huggingface
sentence-transformers
selenium
webdriver-manager
